.content {
  display: grid;
  grid-template-columns: 1fr minmax(auto, var(--max-width)) 1fr;
  column-gap: var(--space-5);
  align-items: stretch;
  gap: var(--space-4);
  padding-bottom: var(--space-12);
}

.content * {
  grid-column: 2;
}

.content ul {
  margin-left: var(--space-4);

  li {
    line-height: 28px;
    font-size: var(--font-size-4);
  }
}

.content p {
  line-height: 28px;
  font-size: var(--font-size-4);
}
