.content {
  display: grid;
  grid-template-columns: 1fr minmax(auto, var(--max-width)) 1fr;
  column-gap: var(--space-4);
  row-gap: var(--space-5);
  align-items: stretch;

  & > * {
    grid-column: 2;
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: var(--color-border-gray);

    animation: fade-in 1s forwards;
    animation-delay: 400ms;
  }

  .signature {
    margin-top: var(--space-4);
    animation: fade-in 1s forwards;
    animation-delay: 500ms;

    path {
      animation: draw-line 4s forwards;
      animation-delay: 1s;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
    }
  }

  .margin {
    width: 100%;
    height: var(--space-12);
    grid-column: 2;
  }

  .margin2 {
    width: 100%;
    height: 128px;
    grid-column: 2;
  }

  .subtitle {
    padding-bottom: var(--space-4);
  }

  h2 {
    display: inline-flex;
    align-items: center;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) and (min-width: 769px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) and (min-width: 577px) {
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}
