.content {
  display: grid;
  grid-template-columns: 1fr minmax(auto, var(--max-width)) 1fr;
  column-gap: var(--space-5);
  row-gap: var(--space-4);
  align-items: stretch;

  & > * {
    grid-column: 2;
  }

  .title {
    font-weight: var(--font-weight-500);

    .name {
      color: rgba(var(--color-brand));
    }

    .earth {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: var(--space-1);

      svg {
        width: 34px;
        height: 34px;
      }
    }

    .world {
      margin-left: var(--space-1);
    }
  }

  .margin {
    width: 100%;
    height: var(--offsetHeight);
    grid-column: 2;
  }

  .subtitle {
    border-bottom: 2px solid rgba(var(--color-border-gray));
    padding-bottom: var(--space-4);
  }
}
