.blockquote {
  display: grid;
  grid-template-columns: 8px 1fr;
  border-radius: var(--border-radius-xs);
  gap: var(--space-3);
  background-color: var(--color-blue-fade);
  padding-right: var(--space-3);
}

.neutral .line {
  background-color: var(--color-brand);
}

.line {
  grid-column: 1 !important;
  width: 8px;
  height: 100%;
  border-top-left-radius: var(--border-radius-xs);
  border-bottom-left-radius: var(--border-radius-xs);
}

.neutral p {
  grid-column: 2;
  padding: var(--space-3) 0;
}
