.container {
  position: fixed;
  bottom: var(--space-4);
  right: var(--space-4);

  .button {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-4);
    padding: var(--space-1);
    background-color: rgba(var(--background-rgb));
    border: 2px solid rgba(var(--foreground-rgb));
    border-radius: var(--border-radius-xs);
    cursor: pointer;
    z-index: 100;
    position: relative;

    .icon {
      width: 24px;
      height: 24px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .button:hover {
    /* transform: translateY(-1px); */
    background-color: rgba(var(--color-moss-green-fade));
    transition-duration: 0.6s ease;
    /* transition-property: width, height; */
    border: 2px solid rgba(var(--foreground-rgb));
    border-radius: 10px;
    /* box-shadow: 2px 2px 1px 1px rgba(var(--color-moss-green-fade)); */
  }

  .button:active {
    height: 37px;
    width: 37px;
    transition-duration: 0.2s;
    border: 2px solid rgba(var(--foreground-rgb));
    border-radius: 13px;
  }
}

.exit {
  fill: none;
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  animation: dash-moon 0.8s ease-in-out;
}

.comments {
  position: fixed;
  background-color: rgba(var(--background-rgb));
  width: 380px;
  height: 540px;
  border: 2px solid rgba(var(--foreground-rgb));
  border-radius: var(--border-radius-xs);
  overflow-y: scroll;
  z-index: 1001;

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    padding: var(--space-4);

    .inputContainer {
      display: flex;
      flex-direction: column;

      .nameInput {
        border: 1px solid rgba(var(--foreground-rgb));
        border-radius: var(--border-radius-xs);
      }

      .contentInput {
        border: 1px solid rgba(var(--foreground-rgb));
        border-radius: var(--border-radius-xs);
        height: var(--space-13);
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.1);
  z-index: 99;
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) and (min-width: 769px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) and (min-width: 577px) {
  .comments {
    position: fixed;
    background-color: rgba(var(--background-rgb));
    width: calc(100% - 2 * var(--space-4));
    height: 620px;
    border: 2px solid rgba(var(--foreground-rgb));
    border-radius: var(--border-radius-xs);
    overflow-y: scroll;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .comments {
    position: fixed;
    background-color: rgba(var(--background-rgb));
    width: calc(100% - 2 * var(--space-4));
    height: 540px;
    border: 2px solid rgba(var(--foreground-rgb));
    border-radius: var(--border-radius-xs);
    overflow-y: scroll;
  }
}

@keyframes dash-moon {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
