.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-4);
}

.featured {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--space-3);
  gap: var(--space-2);
  width: calc(50% - var(--space-4) / 2);
  border: 2px solid rgb(var(--foreground-rgb));
  border-radius: var(--border-radius-xs);
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  .new {
    position: absolute;
    top: -24px;
    right: -16px;

    svg {
      width: 48px;
      height: 48px;
    }
  }

  &:hover {
    background-color: rgba(var(--color-moss-green-fade));
    text-decoration: none;

    .iconContainer {
      svg {
        filter: grayscale(0);
      }
    }
  }

  .iconContainer {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    svg {
      width: 28px;
      height: 28px;
      filter: grayscale(0);
      //   filter: grayscale(1);
    }

    h3 {
      margin-bottom: var(--space-3);
      font-size: var(--font-size-4);
      color: rgb(var(--foreground-rgb));
      margin: 0;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    p {
      margin: 0;
      color: rgba(var(--color-description-text));
      font-weight: 400;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) and (min-width: 769px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) and (min-width: 577px) {
  .featured {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .featured {
    width: 100%;
  }
}
