.header {
  position: fixed;
  z-index: 13;
  top: 0px;
  backdrop-filter: blur(10px);
  width: 100%;
  transition: background-color 0.5s ease 0s, border-color 0.65s ease 0s;
  border-bottom: 1px solid;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, var(--max-width)) 1fr;
  column-gap: var(--space-5);
  align-items: stretch;

  height: inherit;
}

.items {
  width: 100%;
  grid-column: 2;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.span {
  font-size: var(--font-size-6);
  line-height: 30px;
  color: rgb(var(--foreground-rgb));
  font-weight: 700;
  display: flex;
}

.blogText {
  position: absolute;
  transition-duration: 0.5s;
  transition-property: left;
  color: rgb(var(--foreground-rgb));
  font-weight: 700;
}

.green {
  color: rgb(var(--logo-dot-color));
}

.revealText .blogText {
  left: 129px;
}

.hideText .blogText {
  left: 32px;
}

.svg {
  height: 28px;
  width: 30px;

  path {
    fill: rgb(var(--logo-color));
  }
}

.logo:hover .svg {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.margin {
  width: 100%;
  height: var(--offsetHeight);
}
