.link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-1);
  font-size: var(--font-size-4);
  margin: 0 auto 0 0;
}

.link:hover {
  text-decoration: none;
}

.link > svg {
  transform: translateX(0);
  transition: 0.2s;
}

.link:hover > svg {
  transform: translateX(calc(-1 * var(--space-1)));
  transition: 0.3s;
}
