.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-3);

  .length_1 {
    width: 400px;
    margin: 0 auto;
  }

  .length_2 {
    width: calc((100% - var(--space-3)) / 2);
  }

  .length_3 {
    width: calc((100% - 2 * var(--space-3)) / 3);
  }

  .image {
    width: 100%;
    object-fit: cover;
    border: 1px solid rgb(var(--foreground-rgb));
    border-radius: var(--border-radius-xs);
  }

  .length_1.portrait .image {
    height: 560px;
  }

  .length_1.landscape {
    width: 440px;
  }

  .length_1.landscape .image {
    height: 300px;
  }

  .length_2.portrait .image {
    height: 560px;
  }

  .length_3.portrait .image {
    height: 400px;
  }

  .length_2.landscape .image {
    height: 300px;
  }

  .length_3.landscape .image {
    height: 220px;
  }

  .caption {
    width: 90%;
    margin: 0 auto;
    color: rgb(var(--color-description-text));
    text-align: center;
    font-style: italic;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) and (min-width: 769px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) and (min-width: 621px) {
  .container {
    .length_1.portrait .image {
      height: 560px;
    }

    .length_2.portrait .image {
      height: 460px;
    }

    .length_3.portrait .image {
      height: 320px;
    }

    .length_1.landscape .image {
      height: 440px;
    }

    .length_2.landscape .image {
      height: 220px;
    }

    .length_3.landscape .image {
      height: 160px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 620px) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;

    .length_1,
    .length_2,
    .length_3 {
      width: 100%;

      &.portrait {
        width: 100%;
        .image {
          height: 460px;
        }
      }

      &.landscape {
        width: 100%;
        .image {
          height: 240px;
        }
      }
    }
  }
}
