.map {
  height: 400px;
  width: 100%;
  border-radius: var(--border-radius-xs);
  border: 2px solid var(--color-border-gray);

  & > div {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-xs);
  }
}
