.container {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 700;
    line-height: 28px;
  }

  input {
    border: 2px solid var(--foreground-rgb);
    border-radius: var(--border-radius-xs);
    line-height: 28px;
    font-size: var(--font-size-3);
  }
}
