.link {
  text-decoration: underline;
  text-underline-offset: 4px;

  &:hover {
    padding-bottom: 5px;
    background: url("/wave.svg");
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-repeat: repeat-x;
    background-size: 20px 40px;
    background-position: 2px 19px;
    animation: move 15s linear infinite;
    -webkit-animation: move 15s linear infinite;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    animation-play-state: running;
  }
}

@-webkit-keyframes move {
  from {
    background-position: 2px 19px;
  }
  to {
    background-position: 500px 19px;
  }
}

@keyframes move {
  from {
    background-position: 2px 19px;
  }
  to {
    background-position: 500px 19px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) and (min-width: 769px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) and (min-width: 621px) {
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 620px) {
  .link {
    &:hover {
      background-size: 10px 20px;
    }
  }
}
